@model List<Loginnosted.Models.Account.Users>


@{
    ViewData["Title"] = "VisAlleBrukere";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>

        .success-message {
            text-align: center;
            color: white;
            background-color: green;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var melding = "@ViewData["Melding"]";

            if (melding) {
                alert(melding);
            }
        });
    </script>
</head>
<body>

    @if (!string.IsNullOrEmpty(ViewData["BrukerNavn"] as string))
    {
        <div class="success-message">
            Lagring av @ViewData["BrukerNavn"] vellykket!
        </div>
    }

    <h1>Vis Alle Brukere</h1>
    <div>
        <a asp-action="Register" asp-controller="Account" class="btn btn-primary">Lag ny bruker</a>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>BrukerNavn</th>
                <th>Epostadresse</th>
                <th>Rolle</th>
                <!-- Legg til flere kolonner etter behov -->
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.NormalizedEmail</td>
                    <td>@user.PhoneNumber</td>

                    <!-- Legg til flere kolonner etter behov -->
                    
                    <td>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
