@model IEnumerable<ServiceOrdre>

@{
    ViewData["Title"] = "Arkiv";
}

@{
    var message = TempData["Message"] as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success" role="alert">
        @message
    </div>
}

<h1>Arkiv</h1>



<p>
    <a asp-action="Registrer">Lag ny serviceordre</a>
</p>

<form asp-action="Arkiv" asp-controller="Service" method="get">
    <div class="form-group">
        <label for="searchInput">Søk:</label>
        <input type="text" class="form-control" id="searchInput" name="search" placeholder="Søk etter navn, ID, epost eller telefonnummer">
    </div>
    <button type="submit" class="btn btn-primary">Søk</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Ordre ID")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kundenavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kundeepost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kundetlf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registreringsdato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdreID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kundenavn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kundeepost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kundetlf)
                </td>
                <td>
                    @item.Registreringsdato.ToString("yyyy-MM-dd")
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Service" asp-route-id="@item.OrdreID">Rediger</a> |
                    <a asp-action="Details" asp-controller="Service" asp-route-id="@item.OrdreID">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrdreID">Slett</a>
                </td>
            </tr>
        }
    </tbody>
</table>
