@model IEnumerable<ServiceOrdre>

@{
    ViewData["Title"] = "Arkiv";
}

@{
    var message = TempData["Message"] as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success" role="alert">
        @message
    </div>
}

<h1>Arkiv</h1>

<p>
    <a asp-action="Registrer">Lag ny serviceordre </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Ordre ID")
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Kundenavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kundeepost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kundetlf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registreringsdato)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdreID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Kundenavn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kundeepost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kundetlf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registreringsdato)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Service" asp-route-id="@item.OrdreID">Rediger</a> |
                    <a asp-action="Details" asp-controller="Service" asp-route-id="@item.OrdreID">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrdreID">Slett</a>
                </td>
            </tr>
        }
    </tbody>
</table>
