@model IEnumerable<ServiceOrdre>

@{
    ViewData["Title"] = "Arkiv";
}
<!-- Inkludering av nødvendige JavaScript-biblioteker -->
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/t1H1aWVegQZH75Z5l/4sC9U8U5bEuRVHfRJGQ=" crossorigin="anonymous"></script>
    <script src="~/js/Arkiv.js" asp-append-version="true"></script>

}


<!-- Meldinger fra TempData -->
@{
    var message = TempData["Message"] as string;
}
<!-- Vis suksessmelding hvis tilgjengelig -->
@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success" role="alert">
        @message
    </div>
}
<!-- Overskrift for arkivsiden -->
<h2>Servicehistorikk</h2>
<hr />

<!-- Lenke for å opprette ny serviceordre -->
<a asp-action="Registrer" style="font-weight: bold; border: 1px solid #e16f07; border-radius: 5px; padding: 5px 10px; text-decoration: none; ">Lag ny serviceordre</a>


<!-- Søkefelt -->
<form asp-action="Arkiv" asp-controller="Service" method="get">
    <div class="form-group">

        <label for="searchInput"></label>
        <input type="text" class="form-control" id="searchInput" name="search" placeholder="Søk etter navn, ID, epost eller serienummer" value="@ViewData["SearchTerm"]">

    </div>
    <br />
    <button type="submit" class="btn btn-primary">Søk</button>
</form>


<!-- Tabell for visning av serviceordre -->
<div class="table-responsive">
    <table class="table">
        <thead>
            <!-- Kolonner for sortering -->
            <tr>
                <th class="sortable" data-sort-by="OrdreID" data-sort-order="@ViewData["IdSortParm"]">
                    <a asp-action="Arkiv" asp-controller="Service" asp-route-sortOrder="@ViewData["IdSortParm"]">Ordre ID#</a>
                </th>
                <th class="sortable" data-sort-by="Kundenavn" data-sort-order="@ViewData["NameSortParm"]">
                    <a asp-action="Arkiv" asp-controller="Service" asp-route-sortOrder="@ViewData["NameSortParm"]">Kundenavn</a>
                </th>
                <th class="sortable" data-sort-by="Kundetlf" data-sort-order="@ViewData["PhoneSortParm"]">
                    <a asp-action="Arkiv" asp-controller="Service" asp-route-sortOrder="@ViewData["PhoneSortParm"]">Kundetelefon</a>
                </th>
                <th class="sortable" data-sort-by="Registreringsdato" data-sort-order="@ViewData["DateSortParm"]">
                    <a asp-action="Arkiv" asp-controller="Service" asp-route-sortOrder="@ViewData["DateSortParm"]">Registreringsdato</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Gjennomgang av serviceordre for visning i tabellen -->
            @foreach (var item in Model)
            {
                <tr>
                    <!-- Visning av serviceordre-detaljer -->
                    <td>
                        @Html.DisplayFor(modelItem => item.OrdreID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kundenavn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kundetlf)
                    </td>
                    <td>
                        @item.Registreringsdato.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        <!-- Lenker for redigering, detaljer og sletting av serviceordre -->
                        <a asp-action="Edit" asp-controller="Service" asp-route-id="@item.OrdreID"> | Rediger </a>
                        <a asp-action="Details" asp-controller="Service" asp-route-id="@item.OrdreID"> | Detaljer | </a>
                        <a asp-action="Print" asp-route-id="@item.OrdreID"> Utskrift | </a>
                        <!-- kun admin har tilgang til denne siden -->
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.OrdreID"> Slett | </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
