@model ServiceOrdre

@{
    ViewData["Title"] = "Delete";
}
<!-- Vis melding ved vellykket sletting -->
@if (!string.IsNullOrEmpty(TempData["Message"]?.ToString()))
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}
else if (!string.IsNullOrEmpty(TempData["Error"]?.ToString()))
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}


<!-- Overskrift for slettingssiden -->

<h3>Er du sikker på du vil slette denne serviceordren?</h3>
<hr/>
<h4>@Html.DisplayNameFor(model => model.OrdreID) #<em>@Html.DisplayFor(model => model.OrdreID)</em></h4>
<!-- Visning av serviceordre-detaljer -->
<div>
    <dl class="row">
        <!-- Gjennomgang av serviceordre-attributter -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kundenavn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kundenavn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kundeepost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kundeepost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kundetlf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kundetlf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produkttypevinsj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produkttypevinsj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ÅrsmodellVinsj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ÅrsmodellVinsj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serienummervinsj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serienummervinsj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registreringsdato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registreringsdato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvtaltKommentar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvtaltKommentar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternKommentar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternKommentar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Problembeskrivelse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Problembeskrivelse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvtaltleveringsDato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvtaltleveringsDato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Avtaltferdigstillingsdato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Avtaltferdigstillingsdato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProduktmottattDato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProduktmottattDato)
        </dd>
    </dl>
    <!-- Slettingsskjema -->
    <form method="post" asp-controller="Service" asp-action="Delete">
        <input type="hidden" asp-for="OrdreID"/>
        <!-- Bekreftelsescheckbox -->
        <label>
            <input type="checkbox" name="confirm" required/> Bekreft sletting
        </label>
        <!-- Slett-knapp og tilbake-knapp -->
        <input type="submit" value="Slett" class="btn btn-danger"/> |
        <a asp-action="Arkiv">Tilbake til historikk</a>
    </form>

</div>