@model ServiceOrdre

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>ServiceOrdre</h4>
            <hr />
            <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OrdreID)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.OrdreID)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Kundenavn)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Kundenavn)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Kundeepost)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Kundeepost)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Kundetlf)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Kundetlf)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Produkttypevinsj)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Produkttypevinsj)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ÅrsmodellVinsj)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ÅrsmodellVinsj)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Serienummervinsj)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Serienummervinsj)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Registreringsdato)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Registreringsdato)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.AvtaltKommentar)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.AvtaltKommentar)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.InternKommentar)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.InternKommentar)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Problembeskrivelse)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Problembeskrivelse)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ServiceType)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ServiceType)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.AvtaltleveringsDato)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.AvtaltleveringsDato)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Avtaltferdigstillingsdato)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Avtaltferdigstillingsdato)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ProduktmottattDato)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ProduktmottattDato)
        </dd>
        </dl>
        </div>
        <div class="col-md-6">
            <h4>Sjekkliste</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-5">
                    Sjekk clutch lameller for slitasje
                </dt>
                <dd class="col-sm-7"(Model.ClutchLameller)">
                    @Model.ClutchLameller
                </dd>

                <dt class="col-sm-5">
                    Sjekk bremser. Bånd/Pal
                </dt>
                <dd class="col-sm-7" (Model.Bremser)">
                    @Model.Bremser
                </dd>

                <dt class="col-sm-5">
                    Sjekk lager for trommel
                </dt>
                <dd class="col-sm-7"(Model.LagerTrommel)">
                    @Model.LagerTrommel
                </dd>

                <dt class="col-sm-5">
                    Sjekk PTO og opplagring
                </dt>
                <dd class="col-sm-7"(Model.PTOOpplagring)">
                    @Model.PTOOpplagring
                </dd>

                <dt class="col-sm-5">
                    Sjekk kjedestrammer
                </dt>
                <dd class="col-sm-7"(Model.Kjedestrammer)">
                    @Model.Kjedestrammer
                </dd>

                <dt class="col-sm-5">
                    Sjekk wire
                </dt>
                <dd class="col-sm-7"(Model.Wire)">
                    @Model.Wire
                </dd>

                <dt class="col-sm-5">
                    Sjekk pinion lager
                </dt>
                <dd class="col-sm-7"(Model.PlnlonLager)">
                    @Model.PlnlonLager
                </dd>

                <dt class="col-sm-5">
                    Sjekk kile på kjedehjul
                </dt>
                <dd class="col-sm-7"(Model.KilleKjedehjul)">
                    @Model.KilleKjedehjul
                </dd>

                <dt class="col-sm-5">
                    Sjekk hydraulikk sylinder for lekkasje
                </dt>
                <dd class="col-sm-7"(Model.HydraulikkSylinderLekkasje)">
                    @Model.HydraulikkSylinderLekkasje
                </dd>

                <dt class="col-sm-5">
                    Sjekk slanger for skader og lekkasje
                </dt>
                <dd class="col-sm-7"(Model.SlangerSkaderLekkasje)">
                    @Model.SlangerSkaderLekkasje
                </dd>

                <dt class="col-sm-5">
                    Test hydraulikkblokk i testbenk
                </dt>
                <dd class="col-sm-7" (Model.TestHydraulikkblokk)">
                    @Model.TestHydraulikkblokk
                </dd>

                <dt class="col-sm-5">
                    Skift olje i tank
                </dt>
                <dd class="col-sm-7"(Model.SkiftOljeTank)">
                    @Model.SkiftOljeTank
                </dd>

                <dt class="col-sm-5">
                    Skift olje på girboks
                </dt>
                <dd class="col-sm-7"(Model.SkiftOljeGirboks)">
                    @Model.SkiftOljeGirboks
                </dd>

                <dt class="col-sm-5">
                    Sjekk Ringsylinder åpne og skift tetninger
                </dt>
                <dd class="col-sm-7"(Model.RingsyllingerSkiftTelnlnger)">
                    @Model.RingsyllingerSkiftTelnlnger
                </dd>

                <dt class="col-sm-5">
                    Sjekk Bingsylinder åpne og skift tetninger
                </dt>
                <dd class="col-sm-7"(Model.BremsesylingerSkiftTelninger)">
                    @Model.BremsesylingerSkiftTelninger
                </dd>

                <dt class="col-sm-5">
                    Sjekk ledningsnett på vinsj
                </dt>
                <dd class="col-sm-7"(Model.LedningsnettVinsj)">
                    @Model.LedningsnettVinsj
                </dd>

                <dt class="col-sm-5">
                    Sjekk og test radio
                </dt>
                <dd class="col-sm-7"(Model.SjekkTestRadio)">
                    @Model.SjekkTestRadio
                </dd>

                <dt class="col-sm-5">
                    Sjekkog test knappekasse
                </dt>
                <dd class="col-sm-7"(Model.SjekkTestKnappekasse)">
                    @Model.SjekkTestKnappekasse
                </dd>

                <dt class="col-sm-5">
                    XX-Bar
                </dt>
                <dd class="col-sm-7" (Model.XXBar)">
                    @Model.XXBar
                </dd>

                <dt class="col-sm-5">
                    Test vinsj og kjør alle funksjoner
                </dt>
                <dd class="col-sm-7" (Model.TestVinsjAlleFunksjoner)">
                    @Model.TestVinsjAlleFunksjoner
                </dd>

                <dt class="col-sm-5">
                    Trekkraft KN
                </dt>
                <dd class="col-sm-7" (Model.TrekkraftKn)">
                    @Model.TrekkraftKn
                </dd>

                <dt class="col-sm-5">
                    Bremsekraft KN
                </dt>
                <dd class="col-sm-7" (Model.BremsekraftKn)">
                    @Model.BremsekraftKn
                </dd>
            </dl>
        </div>
         
        </div>
    </div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrdreID">Rediger</a> |
    <a asp-action="Arkiv">Tilbake til historikkt</a> |
    <a asp-action="Delete" asp-route-id="@Model?.OrdreID">Slett</a>

</div>





