@model ServiceOrdre

@{
    ViewData["Title"] = "Print";
}

<link rel="stylesheet" href="~/css/PrintPage.css" />

<body>
    <div class="hidden-logo">
        <img src="~/css/Bilder/LOGO.jpg" alt="Print Logo" height="50px" class="mb-2" style="margin-top: 20px;">
    </div>
    <div id="printoverskrift" style="margin-top: 20px;">
        <h1>Serviceskjema - OrdreID @Html.DisplayFor(model => model.OrdreID)</h1>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Serviceskjema #@Html.DisplayFor(model => model.OrdreID)</th>
                    <th class="right-cell" colspan="2">Nøsted Service Pro©</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>OrdreID</th>
                    <td>@Html.DisplayFor(model => model.OrdreID)</td>
                    <th>Kundenavn</th>
                    <td>@Html.DisplayFor(model => model.Kundenavn)</td>
                </tr>
                <tr>
                    <th>Kundens epost</th>
                    <td>@Html.DisplayFor(model => model.Kundeepost)</td>
                    <th>Kundens tlfnr</th>
                    <td>@Html.DisplayFor(model => model.Kundetlf)</td>
                </tr>
                <tr>
                    <th>Produkttype vinsj</th>
                    <td>@Html.DisplayFor(model => model.Produkttypevinsj)</td>
                    <th>Årsmodell vinsj</th>
                    <td>@Html.DisplayFor(model => model.ÅrsmodellVinsj)</td>
                </tr>
                <tr>
                    <th>Serienummer vinsj</th>
                    <td>@Html.DisplayFor(model => model.Serienummervinsj)</td>
                    <th>Service registrert dato</th>
                    <td>@Html.DisplayFor(model => model.Registreringsdato)</td>
                </tr>
                <tr>
                    <th colspan="4">Hva er avtalt med kunden?</th>
                </tr>
                <tr>
                    <td class="text-cell" colspan="4">@Html.DisplayFor(model => model.AvtaltKommentar)</td>
                </tr>
                <tr>
                    <th colspan="4">Hva spesifikt er problemet?</th>
                </tr>
                <tr>
                    <td class="text-cell" colspan="4">@Html.DisplayFor(model => model.Problembeskrivelse)</td>
                </tr>
                <tr>
                    <th colspan="4">Arbeidskommentar fra mekaniker</th>
                </tr>
                <tr>
                    <td class="text-cell" colspan="4">@Html.DisplayFor(model => model.Kommentar)</td>
                </tr>
                <tr>
                    <th>Arbeidstimer</th>
                    <td>@Html.DisplayFor(model => model.Arbeidstimer)</td>
                    <th>Mekaniker</th>
                    <td>@Html.DisplayFor(model => model.SjekkListeFullførtAv)</td>
                </tr>
                <tr>
                    <th>Signatur</th>
                    <td colspan="3" style="font-style: italic;"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
    </div>
    <br />
    <button class="btn btn-primary" id="print">Skriv ut/lagre serviceskjema</button>
    <a id="print" asp-action="Arkiv">Tilbake til historikk</a>

    <!-- Veldig lite script, tenker den blir i filen her. -->
    <script>const printBtn = document.getElementById('print');
        printBtn.addEventListener('click', function () {
            print();
        })</script>

</body>