@model ServiceOrdre

@{
    ViewData["Title"] = "Registrer";
}

<!-- Viser en melding hvis det er en suksess- eller feilmelding -->
@if (!string.IsNullOrEmpty(TempData["Message"]?.ToString()))
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}
<!-- Overskrift og informasjon for registreringssiden -->
<div>
    <h2>Opprett Ny Serviceordre</h2>
    <hr />
    <p><em>Fyll ut info om kunden</em></p>
</div>

<!-- HTML-skjema for registrering, sender data til "Registrer" i "Service" -kontrolleren -->
@using (Html.BeginForm("Registrer", "Service"))
{
    @Html.AntiForgeryToken()

<div class="form-group">
    <strong><label asp-for="Kundenavn">Navn på kunden:</label></strong>
    <input asp-for="Kundenavn" class="form-control" />
    @Html.ValidationMessageFor(model => model.Kundenavn, "", new { @class = "text-danger" })
</div>

    <div class="form-group">
        <strong><label asp-for="Kundeepost">E-post:</label></strong>
        <input asp-for="Kundeepost" class="form-control" />
        @Html.ValidationMessageFor(model => model.Kundeepost, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <strong><label asp-for="Kundetlf">Tlf-nummer:</label></strong>
        <input asp-for="Kundetlf" class="form-control" />
    </div>


    <div class="form-group">
        <strong><label asp-for="Produkttypevinsj">Vinsj-Type:</label></strong>
        <input asp-for="Produkttypevinsj" class="form-control" />
        @Html.ValidationMessageFor(model => model.Produkttypevinsj, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <strong><label asp-for="ÅrsmodellVinsj">Årsmodell:</label></strong>
        <select asp-for="ÅrsmodellVinsj" class="form-control">
            @for (int year = DateTime.Now.Year; year >= 1950; year--)
            {
                <option value="@year">@year</option>
            }
        </select>
    </div>

    <div class="form-group">
        <strong><label asp-for="Serienummervinsj">Serienummer:</label></strong>
        <input asp-for="Serienummervinsj" class="form-control" />
    </div>

    <div class="form-group">
        <strong><label asp-for="AvtaltKommentar">Spesifikke avtaler med kunden:</label></strong>
        <textarea asp-for="AvtaltKommentar" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <strong><label asp-for="InternKommentar">Internkommentar:</label></strong>
        <textarea asp-for="InternKommentar" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <strong><label asp-for="Problembeskrivelse">Problembeskrivelse:</label></strong>
        <textarea asp-for="Problembeskrivelse" class="form-control"></textarea>
        @Html.ValidationMessageFor(model => model.Problembeskrivelse, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <strong><label asp-for="ServiceType">Type service:</label></strong>
        <select asp-for="ServiceType" class="form-control">
            <option value="1 års service">1 års service</option>
            <option value="3 års service">3 års service</option>
            <option value="5 års service">5 års service</option>
            <option value="10 års service">10 års service</option>
            <option value="reparasjon">Reparasjon</option>
            <option value="annet">Annet</option>
        </select>
        @Html.ValidationMessageFor(model => model.ServiceType, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <strong><label asp-for="AvtaltleveringsDato">Når skal vinsjen leveres til service?</label></strong>
        <input asp-for="AvtaltleveringsDato" type="date" class="form-control" />
        @Html.ValidationMessageFor(model => model.AvtaltleveringsDato, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <strong><label asp-for="Avtaltferdigstillingsdato">Når skal vinsjen være ferdig?</label></strong>
        <input asp-for="Avtaltferdigstillingsdato" type="date" class="form-control" />
        @Html.ValidationMessageFor(model => model.Avtaltferdigstillingsdato, "", new { @class = "text-danger" })
    </div>

    <br />

    <div>
        <p><em>Husk å endre "Produktmottat Dato" senere!</em></p>
    </div>

    <!-- Knapp for å sende skjemaet og lagre en ny serviceordre -->
    <button type="submit" class="btn btn-primary">Lag serviceordre</button>
}

