@model ServiceOrdre
@{
    Func<string, string, string, string, string, string, string> GenerateChecklistItem = (labelFor, name, prefix, onclick, value, section) => $@"
        <div class=""form-group"">
            <div class=""row"">
                <div class=""col-12 control-label"">
                    <label asp-for=""{labelFor}"" class=""control-label bold-label"">{labelFor}</label>
                    <div class=""checkbox-group"">
                        <div class=""form-check form-check-inline"">
                            <label class=""custom-radio-button"" for=""{prefix}OK"">
                                <input type=""radio"" class=""form-check-input"" id=""{prefix}OK"" name=""{name}"" value=""OK"" onclick=""{onclick}('OK')"">
                                OK
                            </label>
                        </div>
                        <div class=""form-check form-check-inline"">
                            <input type=""radio"" class=""form-check-input"" id=""{prefix}BorSkiftes"" name=""{name}"" value=""Bør Skiftes"" onclick=""{onclick}('Bør Skiftes')"">
                            <label class=""form-check-label"" for=""{prefix}BorSkiftes"">Bør skiftes</label>
                        </div>
                        <div class=""form-check form-check-inline"">
                            <input type=""radio"" class=""form-check-input"" id=""{prefix}Defekt"" name=""{name}"" value=""Defekt"" onclick=""{onclick}('Defekt')"">
                            <label class=""form-check-label"" for=""{prefix}Defekt"">Defekt</label>
                        </div>
                    </div>
                </div>
            </div>
            <input type=""hidden"" asp-for=""{labelFor}"" />
            <span asp-validation-for=""{labelFor}"" class=""text-danger""></span>
        </div>
        {(section == "Hydraulisk" ? "<hr />" : "")}";
}

@{
    ViewData["Title"] = "Sjekking";
}
<link rel="stylesheet" href="~/css/RegistrerSjekkliste.css" />
<script src="~/js/RegistrerSjekkliste.js"></script>

<!-- Overskrift og tittel for sjekklistesiden -->
@if (!string.IsNullOrEmpty(TempData["Message"]?.ToString()))
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<h2>Sjekkliste</h2>
<hr />

<!-- HTML-skjema for å registrere sjekkliste, sender data til "RegistrerSjekkliste" i "Service" -kontrolleren -->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("RegistrerSjekkliste", "Service", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <!-- Skjulte felt for å overføre serviceordreinformasjon -->
            @Html.HiddenFor(model => model.Kundenavn)
            @Html.HiddenFor(model => model.Kundeepost)
            @Html.HiddenFor(model => model.Kundetlf)
            @Html.HiddenFor(model => model.Produkttypevinsj)
            @Html.HiddenFor(model => model.ÅrsmodellVinsj)
            @Html.HiddenFor(model => model.Registreringsdato)
            @Html.HiddenFor(model => model.Serienummervinsj)
            @Html.HiddenFor(model => model.AvtaltKommentar)
            @Html.HiddenFor(model => model.InternKommentar)
            @Html.HiddenFor(model => model.Problembeskrivelse)
            @Html.HiddenFor(model => model.ServiceType)
            @Html.HiddenFor(model => model.AvtaltleveringsDato)
            @Html.HiddenFor(model => model.Avtaltferdigstillingsdato)
            <input type="hidden" asp-for="OrdreID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Anvendelsen av funksjonen for den mekaniske delen -->
            <h5 class="section-header">Mekanisk</h5>
            <hr />

            @Html.Raw(GenerateChecklistItem("ClutchLameller", "ClutchLameller", "clutch", "setClutchStatus", "OK", "Mekanisk"))
            @Html.Raw(GenerateChecklistItem("Bremser", "Bremser", "bremser", "setBremserStatus", "OK", "Mekanisk"))
            @Html.Raw(GenerateChecklistItem("LagerTrommel", "LagerTrommel", "lagerTrommel", "setLagerTrommel", "OK", "Mekanisk"))
            @Html.Raw(GenerateChecklistItem("PTOOpplagring", "PTOOpplagring", "ptoOpplagring", "setPTOOpplagring", "OK", "Mekanisk"))
            @Html.Raw(GenerateChecklistItem("Kjedestrammer", "Kjedestrammer", "kjedestrammer", "setKjedestrammer", "OK", "Mekanisk"))
            @Html.Raw(GenerateChecklistItem("Wire", "Wire", "wire", "setWire", "OK", "Mekanisk"))
            @Html.Raw(GenerateChecklistItem("PlnlonLager", "PlnlonLager", "pinionLager", "setPinionLager", "OK", "Mekanisk"))
            @Html.Raw(GenerateChecklistItem("KilleKjedehjul", "KilleKjedehjul", "kileKjedehjul", "setKilleKjedehjul", "OK", "Mekanisk"))

            <!-- Anvendelsen av funksjonen for den hydrauliske delen -->
            <h5 class="section-header">Hydraulisk</h5>
            <hr />

            @Html.Raw(GenerateChecklistItem("HydraulikkSylinderLekkasje", "HydraulikkSylinderLekkasje", "hydraulikkSylinder", "setHydraulikkSylinder", "OK", "Hydraulisk"))
            @Html.Raw(GenerateChecklistItem("SlangerSkaderLekkasje", "SlangerSkaderLekkasje", "slangerSkader", "setSlangerSkader", "OK", "Hydraulisk"))
            @Html.Raw(GenerateChecklistItem("TestHydraulikkblokk", "TestHydraulikkblokk", "testHydraulikkblokk", "setTestHydraulikkblokk", "OK", "Hydraulisk"))
            @Html.Raw(GenerateChecklistItem("SkiftOljeTank", "SkiftOljeTank", "skiftOljeTank", "setSkiftOljeTank", "OK", "Hydraulisk"))
            @Html.Raw(GenerateChecklistItem("SkiftOljeGirboks", "SkiftOljeGirboks", "skiftOljeGirboks", "setSkiftOljeGirboks", "OK", "Hydraulisk"))
            @Html.Raw(GenerateChecklistItem("RingsyllingerSkiftTelnlnger", "RingsyllingerSkiftTelnlnger", "ringsyllinger", "setRingsyllinger", "OK", "Hydraulisk"))
            @Html.Raw(GenerateChecklistItem("BremsesylingerSkiftTelninger", "BremsesylingerSkiftTelninger", "bremsesylinger", "setBremsesylinger", "OK", "Hydraulisk"))

            <!-- Anvendelsen av funksjonen for den elektriske delen -->
            <h5 class="section-header">Elektro</h5>
            <hr />

            @Html.Raw(GenerateChecklistItem("LedningsnettVinsj", "LedningsnettVinsj", "ledningsnettVinsj", "setLedningsnettVinsj", "OK", "Elektro"))
            @Html.Raw(GenerateChecklistItem("SjekkTestRadio", "SjekkTestRadio", "sjekkTestRadio", null, "OK", "Elektro"))
            @Html.Raw(GenerateChecklistItem("SjekkTestKnappekasse", "SjekkTestKnappekasse", "sjekkTestKnappekasse", "setSjekkTestKnappekasse", "OK", "Elektro"))

            <!-- Anvendelsen av funksjonen for funksjonstesting -->
            <h5 class="section-header">Funksjonstesting</h5>
            <hr />
            <div class="col-1">
                <div class="form-group">
                    <label asp-for="XXBar" class="control-label">XX-Bar</label>
                    <input asp-for="XXBar" class="form-control" />
                    <span asp-validation-for="XXBar" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="TestVinsjAlleFunksjoner" class="control-label">Test vinsj og kjør alle funksjoner</label>
                <div class="col-3">
                    <input asp-for="TestVinsjAlleFunksjoner" class="form-control" />
                    <span asp-validation-for="TestVinsjAlleFunksjoner" class="text-danger"></span>
                </div>
            </div>




            <div class="form-group">
                <label asp-for="TrekkraftKn" class="control-label">Trekkraft KN</label>
                <div class="col-1">
                    <input asp-for="TrekkraftKn" class="form-control" />
                    <span asp-validation-for="TrekkraftKn" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="BremsekraftKn" class="control-label">Bremsekraft KN</label>
                <div class="col-1">
                    <input asp-for="BremsekraftKn" class="form-control" />
                    <span asp-validation-for="BremsekraftKn" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="Arbeidstimer" class="control-label">Arbeidstimer</label>
                <div class="col-1">
                    <input asp-for="Arbeidstimer" class="form-control" />
                    <span asp-validation-for="Arbeidstimer" class="text-danger"></span>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Kommentar" class="control-label">Kommentar fra Mekaniker</label>
                    <input asp-for="Kommentar" class="form-control" />
                    <span asp-validation-for="Kommentar" class="text-danger"></span>
                </div>
            </div>


            <!-- Knapp for å sende skjemaet og lagre sjekklisten -->
            <div class="form-group form-group-button">
                <input type="submit" name="action" value="Lagre sjekkliste" class="btn btn-primary" style="margin-top: 10px;" />
                <input type="submit" name="action" value="Fullfør sjekkliste" class="btn btn-primary" style="margin-top: 10px;" />
            </div>
        }
    </div>
</div>