@model ServiceOrdre

@{
    ViewData["Title"] = "Sjekking";
}

<link rel="stylesheet" href="~/css/RegistrerSjekkliste.css" asp-append-version="true" />

<!-- Overskrift og tittel for sjekklistesiden -->
<h3>Sjekkliste</h3>
<h4>@Html.DisplayNameFor(model => model.OrdreID) #<em>@Html.DisplayFor(model => model.OrdreID)</em></h4>
<hr />
<!-- HTML-skjema for å registrere sjekkliste, sender data til "RegistrerSjekkliste" i "Service" -kontrolleren -->
<div class="row">
    <div class="col-md-10">
        @using (Html.BeginForm("RegistrerSjekkliste", "Service", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <!-- Skjulte felt for å overføre serviceordreinformasjon -->
            @Html.HiddenFor(model => model.Kundenavn)
            @Html.HiddenFor(model => model.Kundeepost)
            @Html.HiddenFor(model => model.Kundetlf)
            @Html.HiddenFor(model => model.Produkttypevinsj)
            @Html.HiddenFor(model => model.ÅrsmodellVinsj)
            @Html.HiddenFor(model => model.Registreringsdato)
            @Html.HiddenFor(model => model.Serienummervinsj)
            @Html.HiddenFor(model => model.AvtaltKommentar)
            @Html.HiddenFor(model => model.InternKommentar)
            @Html.HiddenFor(model => model.Problembeskrivelse)
            @Html.HiddenFor(model => model.ServiceType)
            @Html.HiddenFor(model => model.AvtaltleveringsDato)
            @Html.HiddenFor(model => model.Avtaltferdigstillingsdato)
            @Html.HiddenFor(model => model.RegistreringFullførtAv)

            <input type="hidden" asp-for="OrdreID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Dropdowns for ulike sjekkliste-elementer med tilhørende valg -->


            <!-- sjekkpunkter -->
            <h5 class="section-header">Mekanisk</h5>
            <hr />

            <div class="form-group">
                <label asp-for="ClutchLameller" class="control-label">Sjekk clutch lameller for slitasje</label>
                <div class="radio-options">
                    <input type="radio" id="ok1" asp-for="ClutchLameller" value="OK">
                    <label for="ok1">OK</label>

                    <input type="radio" id="borSkiftes1" asp-for="ClutchLameller" value="Bør Skiftes">
                    <label for="borSkiftes1">Bør skiftes</label>

                    <input type="radio" id="defekt1" asp-for="ClutchLameller" value="Defekt">
                    <label for="defekt1">Defekt</label>
                </div>
                <span asp-validation-for="ClutchLameller" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="Bremser" class="control-label">Sjekk Bremser. Bånd/Pal</label>
                <div class="radio-options">
                    <input type="radio" id="ok2" asp-for="Bremser" value="OK">
                    <label for="ok2">OK</label>

                    <input type="radio" id="borSkiftes2" asp-for="Bremser" value="Bør Skiftes">
                    <label for="borSkiftes2">Bør skiftes</label>

                    <input type="radio" id="defekt2" asp-for="Bremser" value="Defekt">
                    <label for="defekt2">Defekt</label>
                </div>
                <span asp-validation-for="Bremser" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="LagerTrommel" class="control-label">Sjekk lager for trommel</label>
                <div class="radio-options">
                    <input type="radio" id="ok3" asp-for="LagerTrommel" value="OK">
                    <label for="ok3">OK</label>

                    <input type="radio" id="borSkiftes3" asp-for="LagerTrommel" value="Bør Skiftes">
                    <label for="borSkiftes3">Bør skiftes</label>

                    <input type="radio" id="defekt3" asp-for="LagerTrommel" value="Defekt">
                    <label for="defekt3">Defekt</label>
                </div>
                <span asp-validation-for="LagerTrommel" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="PTOOpplagring" class="control-label">Sjekk PTO og opplagring</label>
                <div class="radio-options">
                    <input type="radio" id="ok4" asp-for="PTOOpplagring" value="OK">
                    <label for="ok4">OK</label>

                    <input type="radio" id="borSkiftes4" asp-for="PTOOpplagring" value="Bør Skiftes">
                    <label for="borSkiftes4">Bør skiftes</label>

                    <input type="radio" id="defekt4" asp-for="PTOOpplagring" value="Defekt">
                    <label for="defekt4">Defekt</label>
                </div>
                <span asp-validation-for="PTOOpplagring" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="Kjedestrammer" class="control-label">Sjekk kjedestrammer</label>
                <div class="radio-options">
                    <input type="radio" id="ok5" asp-for="Kjedestrammer" value="OK">
                    <label for="ok5">OK</label>

                    <input type="radio" id="borSkiftes5" asp-for="Kjedestrammer" value="Bør Skiftes">
                    <label for="borSkiftes5">Bør skiftes</label>

                    <input type="radio" id="defekt5" asp-for="Kjedestrammer" value="Defekt">
                    <label for="defekt5">Defekt</label>
                </div>
                <span asp-validation-for="Kjedestrammer" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="Wire" class="control-label">Sjekk wire</label>
                <div class="radio-options">
                    <input type="radio" id="ok6" asp-for="Wire" value="OK">
                    <label for="ok6">OK</label>

                    <input type="radio" id="borSkiftes6" asp-for="Wire" value="Bør Skiftes">
                    <label for="borSkiftes6">Bør skiftes</label>

                    <input type="radio" id="defekt6" asp-for="Wire" value="Defekt">
                    <label for="defekt6">Defekt</label>
                </div>
                <span asp-validation-for="Wire" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="PlnlonLager" class="control-label">Sjekk pinion lager</label>
                <div class="radio-options">
                    <input type="radio" id="ok7" asp-for="PlnlonLager" value="OK">
                    <label for="ok7">OK</label>

                    <input type="radio" id="borSkiftes7" asp-for="PlnlonLager" value="Bør Skiftes">
                    <label for="borSkiftes7">Bør skiftes</label>

                    <input type="radio" id="defekt7" asp-for="PlnlonLager" value="Defekt">
                    <label for="defekt7">Defekt</label>
                </div>
                <span asp-validation-for="PlnlonLager" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="KilleKjedehjul" class="control-label">Sjekk kile på kjedehjul</label>
                <div class="radio-options">
                    <input type="radio" id="ok8" asp-for="KilleKjedehjul" value="OK">
                    <label for="ok8">OK</label>

                    <input type="radio" id="borSkiftes8" asp-for="KilleKjedehjul" value="Bør Skiftes">
                    <label for="borSkiftes8">Bør skiftes</label>

                    <input type="radio" id="defekt8" asp-for="KilleKjedehjul" value="Defekt">
                    <label for="defekt8">Defekt</label>
                </div>
                <span asp-validation-for="KilleKjedehjul" class="text-danger"></span>
            </div>
            <hr />


            <br />
            <h5 class="section-header">Hydraulisk</h5>

            <div class="form-group">
                <label asp-for="HydraulikkSylinderLekkasje" class="control-label">Sjekk hydraulikk sylinder for lekkasje</label>
                <div class="radio-options">
                    <input type="radio" id="ok9" asp-for="HydraulikkSylinderLekkasje" value="OK">
                    <label for="ok9">OK</label>

                    <input type="radio" id="borSkiftes9" asp-for="HydraulikkSylinderLekkasje" value="Bør Skiftes">
                    <label for="borSkiftes9">Bør skiftes</label>

                    <input type="radio" id="defekt9" asp-for="HydraulikkSylinderLekkasje" value="Defekt">
                    <label for="defekt9">Defekt</label>
                </div>
                <span asp-validation-for="HydraulikkSylinderLekkasje" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="SlangerSkaderLekkasje" class="control-label">Sjekk slanger for skader og lekkasje</label>
                <div class="radio-options">
                    <input type="radio" id="ok10" asp-for="SlangerSkaderLekkasje" value="OK">
                    <label for="ok10">OK</label>

                    <input type="radio" id="borSkiftes10" asp-for="SlangerSkaderLekkasje" value="Bør Skiftes">
                    <label for="borSkiftes10">Bør skiftes</label>

                    <input type="radio" id="defekt10" asp-for="SlangerSkaderLekkasje" value="Defekt">
                    <label for="defekt10">Defekt</label>
                </div>
                <span asp-validation-for="SlangerSkaderLekkasje" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="TestHydraulikkblokk" class="control-label">Test hydraulikkblokk i testbenk</label>
                <div class="radio-options">
                    <input type="radio" id="ok11" asp-for="TestHydraulikkblokk" value="OK">
                    <label for="ok11">OK</label>

                    <input type="radio" id="borSkiftes11" asp-for="TestHydraulikkblokk" value="Bør Skiftes">
                    <label for="borSkiftes11">Bør skiftes</label>

                    <input type="radio" id="defekt11" asp-for="TestHydraulikkblokk" value="Defekt">
                    <label for="defekt11">Defekt</label>
                </div>
                <span asp-validation-for="TestHydraulikkblokk" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="SkiftOljeTank" class="control-label">Skift olje i tank</label>
                <div class="radio-options">
                    <input type="radio" id="ok12" asp-for="SkiftOljeTank" value="OK">
                    <label for="ok12">OK</label>

                    <input type="radio" id="borSkiftes12" asp-for="SkiftOljeTank" value="Bør Skiftes">
                    <label for="borSkiftes12">Bør skiftes</label>

                    <input type="radio" id="defekt12" asp-for="SkiftOljeTank" value="Defekt">
                    <label for="defekt12">Defekt</label>
                </div>
                <span asp-validation-for="SkiftOljeTank" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="SkiftOljeGirboks" class="control-label">Skift olje på girboks</label>
                <div class="radio-options">
                    <input type="radio" id="ok13" asp-for="SkiftOljeGirboks" value="OK">
                    <label for="ok13">OK</label>

                    <input type="radio" id="borSkiftes13" asp-for="SkiftOljeGirboks" value="Bør Skiftes">
                    <label for="borSkiftes13">Bør skiftes</label>

                    <input type="radio" id="defekt13" asp-for="SkiftOljeGirboks" value="Defekt">
                    <label for="defekt13">Defekt</label>
                </div>
                <span asp-validation-for="SkiftOljeGirboks" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="RingsyllingerSkiftTelnlnger" class="control-label">Sjekk Ringsylinder åpne og skift tetninger</label>
                <div class="radio-options">
                    <input type="radio" id="ok14" asp-for="RingsyllingerSkiftTelnlnger" value="OK">
                    <label for="ok14">OK</label>

                    <input type="radio" id="borSkiftes14" asp-for="RingsyllingerSkiftTelnlnger" value="Bør Skiftes">
                    <label for="borSkiftes14">Bør skiftes</label>

                    <input type="radio" id="defekt14" asp-for="RingsyllingerSkiftTelnlnger" value="Defekt">
                    <label for="defekt14">Defekt</label>
                </div>
                <span asp-validation-for="RingsyllingerSkiftTelnlnger" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="BremsesylingerSkiftTelninger" class="control-label">Sjekk Bingsylinder åpne og skift tetninger</label>
                <div class="radio-options">
                    <input type="radio" id="ok15" asp-for="BremsesylingerSkiftTelninger" value="OK">
                    <label for="ok15">OK</label>

                    <input type="radio" id="borSkiftes15" asp-for="BremsesylingerSkiftTelninger" value="Bør Skiftes">
                    <label for="borSkiftes15">Bør skiftes</label>

                    <input type="radio" id="defekt15" asp-for="BremsesylingerSkiftTelninger" value="Defekt">
                    <label for="defekt15">Defekt</label>
                </div>
                <span asp-validation-for="BremsesylingerSkiftTelninger" class="text-danger"></span>
            </div>
            <hr />

            <br />
            <h5 class="section-header">Elektro</h5>
            <hr />

            <div class="form-group">
                <label asp-for="LedningsnettVinsj" class="control-label">Sjekk ledningsnett på vinsj</label>
                <div class="radio-options">
                    <input type="radio" id="ok16" asp-for="LedningsnettVinsj" value="OK">
                    <label for="ok16">OK</label>

                    <input type="radio" id="borSkiftes16" asp-for="LedningsnettVinsj" value="Bør Skiftes">
                    <label for="borSkiftes16">Bør skiftes</label>

                    <input type="radio" id="defekt16" asp-for="LedningsnettVinsj" value="Defekt">
                    <label for="defekt16">Defekt</label>
                </div>
                <span asp-validation-for="LedningsnettVinsj" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="SjekkTestRadio" class="control-label">Sjekk og test radio</label>
                <div class="radio-options">
                    <input type="radio" id="ok17" asp-for="SjekkTestRadio" value="OK">
                    <label for="ok17">OK</label>

                    <input type="radio" id="borSkiftes17" asp-for="SjekkTestRadio" value="Bør Skiftes">
                    <label for="borSkiftes17">Bør skiftes</label>

                    <input type="radio" id="defekt17" asp-for="SjekkTestRadio" value="Defekt">
                    <label for="defekt17">Defekt</label>
                </div>
                <span asp-validation-for="SjekkTestRadio" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="SjekkTestKnappekasse" class="control-label">Sjekk og test knappekasse</label>
                <div class="radio-options">
                    <input type="radio" id="ok18" asp-for="SjekkTestKnappekasse" value="OK">
                    <label for="ok18">OK</label>

                    <input type="radio" id="borSkiftes18" asp-for="SjekkTestKnappekasse" value="Bør Skiftes">
                    <label for="borSkiftes18">Bør skiftes</label>

                    <input type="radio" id="defekt18" asp-for="SjekkTestKnappekasse" value="Defekt">
                    <label for="defekt18">Defekt</label>
                </div>
                <span asp-validation-for="SjekkTestKnappekasse" class="text-danger"></span>
            </div>
            <hr />


            <br />
            <h5 class="section-header">Funksjonstesting</h5>
            <div>
                <label asp-for="XXBar" class="control-label">XX-Bar</label>
                <input asp-for="XXBar" class="form-control" />
                <span asp-validation-for="XXBar" class="text-danger"></span>
            </div>


            <div>
                <label asp-for="TestVinsjAlleFunksjoner" class="control-label">Test vinsj og kjør alle funksjoner</label>
                <input asp-for="TestVinsjAlleFunksjoner" class="form-control" />
                <span asp-validation-for="TestVinsjAlleFunksjoner" class="text-danger"></span>
            </div>
            <span asp-validation-for="SjekkTestRadio" class="text-danger"></span>


            <div>
                <label asp-for="TrekkraftKn" class="control-label">Trekkraft KN</label>
                <input asp-for="TrekkraftKn" class="form-control" />
                <span asp-validation-for="TrekkraftKn" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="BremsekraftKn" class="control-label">Bremsekraft KN</label>
                <input asp-for="BremsekraftKn" class="form-control" />
                <span asp-validation-for="BremsekraftKn" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Arbeidstimer" class="control-label">Arbeidstimer</label>
                <input asp-for="Arbeidstimer" class="form-control" />
                <span asp-validation-for="Arbeidstimer" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Kommentar" class="control-label">Kommentar fra Mekaniker</label>
                <input asp-for="Kommentar" class="form-control" />
                <span asp-validation-for="Kommentar" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="SjekkListeFullførtAv" class="control-label">Sjekkliste fullført av: (skann kodebrikke)</label>
                <input asp-for="SjekkListeFullførtAv" class="form-control" />
                <span asp-validation-for="SjekkListeFullførtAv" class="text-danger"></span>
            </div>

            <br />

            <!-- Knapp for å sende skjemaet og lagre sjekklisten -->
            <div class="form-group-button">
                <input type="submit" name="action" value="Lagre sjekkliste" class="btn btn-primary" />
                <input type="submit" id="completeChecklist" name="action" value="Fullfør sjekkliste" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<script src="~/js/RegistrerSjekkliste.js"></script>


